body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --myVarible: 10rem;
}

.cute-button {
  border-radius: 8px;
  padding: 8px;
  background-color: pink;
  border: 2px solid magenta;
}
.square {
  border: 2px solid black;
  font-size: 3rem;
  padding-inline: 12px;
  font-weight: 900;
  background-color: lightgreen;
  width: var(--myVarible);
  height: var(--myVarible);
}

.square:hover {
  background-color: rgb(115, 234, 115);
  cursor:pointer;
}
.square:active {
  background-color: rgb(98, 203, 98);
}

.parent-container {
  display: grid;
  grid-template-columns: var(--myVarible) var(--myVarible) var(--myVarible);
}

.status {
  grid-column: 1 / 3;
  font-weight: 700;
  margin-top: 12px;
}