.menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 250px;
}

.wrapper {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  font-style: italic;
}